@media (max-width: 1400px)
    .options
        &__block
            &_left
                left: 420px
            &_right
                right: 420px



@media (max-width: 1200px)
    .container
        max-width: 960px  
    .promo
        &_carousel
            &__inner
                width: 980px
            &__wrapper
                margin-left: 27px
            &__title
                font-size: 36px
            &__subtitle
                font-size: 22px
    .pageup
        bottom: 20px
        right: 20px 
    .benefits
        &-item
            &__text
                margin-top: 30px
                width: 465px




@media (max-width: 992px)
    .container
        max-width: 720px
    .numbers
        &_wrapper
            height: 120px
            display: grid
            grid-template-columns: repeat(3, auto)
    .promo
        &_menu
            width: 450px
        &_carousel
            &__title
                font-size: 34px
            &__subtitle
                font-size: 20px
            &__btn
                width: 220px
            &__wrapper
                margin: 0 auto
                margin-top: 60px
            &__inner
                width: 720px
            &__img
                top: 200px
                img
                    width: 300px
                    height: 400px
    .prengi
        &-item 
            width: 220px
            height: 279px
    .solution
        padding-top: 60px
        &_menu
            width: 100%
            &__link
                margin: 0
        &_carousel
            &__img
                width: 720px
    .benefits
        &__wrapper
            grid-template-columns: repeat(1, 465px)
            justify-content: center
            gap: 15px
        &-item 
            &__text
                width: 465px
                margin-top: 30px
    .options
        &__wrapper
            grid-template-columns: repeat(1, auto)
        &__block
            &_right
                top: 815px
    .footer
        &__wrapper
            display: grid
            grid-template-columns: repeat(2, auto)
            row-gap: 30px





@media (max-width: 768px)
    .container
        max-width: 540px
    .numbers
        &_wrapper
            height: 190px
            display: grid
            grid-template-columns: repeat(2, auto)
    .promo
        &_wrapper
            position: relative
            justify-content: space-around
        &_menu
            position: fixed
            flex-direction: column
            justify-content: center
            align-items: center
            top: 0
            left: -100%
            width: 50%
            height: 100%
            padding: 20px 15px
            background-color: rgba(0,0,0, .8)
            transition: 0.6s all
            z-index: 2
            &_active 
                left: 0
            &__item 
                padding-right: 0
                border: none
                margin: 15px 0
            &__link 
                font-size: 20px
                text-align: center
        &_hamburger
            display: block
            position: absolute
            right: 10px
            top: 35px
            right: 30px
            width: 26px
            height: 12px
            span 
                display: block 
                height: 2px
                width: 100%
                background-color: #fff 
                margin-bottom: 2px
                transition: 0.5s all
            &_active 
                span 
                    margin-bottom: -2px 
                    &:nth-child(1)
                        transform: translateY(3px) rotate(-45deg)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                            transform: translateY(3px) rotate(45deg)
        &_carousel
            &__img
                right: 106px
                top: 271px
                img
                    width: 250px
                    height: 330px
            &__wrapper
                margin-left: 110px
        .slick-dots
            left: 25%
            transform: translateX(-25%)
    .solution
        padding: 40px 0
        &_menu
            height: 100px
            display: grid
            grid-template-columns: repeat(3, auto)
            &__item
                height: 40px
        &_carousel
            &__img
                width: 600px
    .options
        &-item 
            &_left
                height: 400px
            &_right
                height: 400px
        &__title
            top: 40px
            &_left
                margin-top: 210px
                font-size: 26px
            &_right
                margin-top: 210px
                font-size: 26px
        &__subtitle
            &_left
                font-size: 16px
            &_right
                font-size: 16px
        &__block
            &_left
                top: 185px
                left: 65%
            &_right
                top: 590px
                right: 65%
    .footer
        padding: 40px 0
        &__wrapper
            display: block
        &__moduls 
            margin-top: 20px
        &__industries
            margin-top: 20px
        &__about
            margin-top: 20px
    .pageup
        position: absolute
    .prengi
        padding: 40px 0 40px 0
        &_wrapper
            flex-direction: column
            align-items: center
        &_wrapper2
            flex-direction: column
            align-items: center
        &-item
            margin-top: 15px
    .benefits
        padding: 40px 0
        &__wrapper
            margin-top: 0
            padding: 40px 0
            grid-template-columns: repeat(1, 465px)
        &-item 
            &__descr
                font-size: 20px
    .access
        padding: 40px 0
        &__descr
            margin-top: 45px
        

    

@media (max-width: 576px)
    .container
        max-width: 100%
        padding: 0 10px
    .numbers
        &_wrapper
            margin: 20px 0
            height: 290px
            display: grid
            grid-template-columns: repeat(1, auto)
            justify-content: center
    .promo
        &_menu
            &__link
                font-size: 18px
                line-height: 20px
        &_carousel
            &__wrapper
                width: 300px
                margin-left: 215px
                margin-top: 25px
            &__img
                right: 210px
                top: 331px
                img
                    height: 270px
                    width: 190px
            &__subtitle
                margin-top: 15px
            &__btn
                margin-top: 15px
                width: 150px
                font-size: 12px
        .slick-dots
            left: 15%
            transform: translateX(-15%)
            button
                width: 8px
                height: 8px
    .solution
        &_title
            font-size: 25px
        &_menu
            height: 120px
            &__link
                font-size: 12px
                line-height: 18px
        &_carousel
            &__img
                width: 400px
    .benefits
        &__wrapper
            grid-template-columns: repeat(1, 300px)
        &__title    
            font-size: 25px
        &-item 
            &__img
                width: 300px
                display: block
                margin: 0 auto
            &__text
                left: 50%
                transform: translateX(-50%)
                margin-top: -155px
                width: 300px
                height: 120px
            &__descr
                margin-top: 25px
                font-size: 18px
    .modal
        width: 300px
        &__close
            right: -25px
        &-form
            width: 225px
            &__input
                input
                    width: 225px
    .options
        &__title
            font-size: 25px
            &_left
                font-size: 20px
                margin-right: 30px
            &_right
                font-size: 20px
                margin-left: 30px
        &__subtitle
            &_left
                margin-right: 30px
            &_right
                margin-left: 30px
        &__block
            &_left
                left: 58%
                width: 120px
                height: 120px
            &_right
                right: 58%
                width: 120px
                height: 120px
    .access
        &__descr
            font-size: 25px

                


                

                